body {
  background-image: url("pencil-ruler.png");
  background-repeat: repeat;
  font-family: sans-serif;
}

/* styling for main div containing all the content */
#container {
  background-color: #fff;
  padding: 1vw;
  border-radius: 1vw;
  text-align: center;
  margin: auto;
  margin-top: 5vw;
  width: 50%;
}

div {
  padding: 1vw;
}

h1 {
  font-size: 5vw;
}


/* footer CSS */

#footer {
	margin: 0;
	width: 100vw;
	background-color: #000;
	color: white;
	text-align: center;
  position:fixed;
  bottom:0;
}

#footer p {
	margin: 0;
	padding: 1vw;

}

#footer a {
	color: white;
}